
## ignore everything
*
#Don't ignore basic files
!.gitignore
!README.md 
#track directories so can recurse into them
!*/ 
## track SS input files filetypes
!Model_Runs/*
!*/*data.ss
!*/*data_boot*.ss
!*/control.ss
!*/control.ss_new
!*/forecast.ss
!*/starter.ss
## track code and inputs
!R/*
!*.r
!*.R
!Inputs/*
!*.qmd

