
## ignore everything
*
#Don't ignore basic files
!.gitignore
!README.md 
#track directories so can recurse into them
!*/ 
## track SS input files filetypes
!models/03-simplified-mod
!models/opaka-em/*
!models/opaka-om/* 
!models/opaka-om-5/*
!models/opaka-em-5/*
!models/opaka-om-15/*
!models/opaka-em-15/*
!models/opaka-om-25/*
!models/opaka-em-25/*
!models/opaka-om-50/*
!models/opaka-em-50/*
!models/opaka-em-25-R0_trend/*
!models/opaka-om-25-R0_trend/*
!bin/*
!*/*data.ss
!*/*data_boot*.ss
!*/control.ss
!*/control.ss_new
!*/forecast.ss
!*/starter.ss
## track code and inputs
!R/*
!*.r
!*.R
!Inputs/*
!*.qmd
*.sif
# renv files
!renv/settings.json
!renv.lock
!.Rprofile

